<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commercant">
            <h2><span jhiTranslate="coopcycleApp.commercant.detail.title">Commercant</span> {{ commercant.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleApp.commercant.companyName">Company Name</span></dt>
                <dd>
                    <span>{{ commercant.companyName }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.commercant.address">Address</span></dt>
                <dd>
                    <span>{{ commercant.address }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.commercant.phone">Phone</span></dt>
                <dd>
                    <span>{{ commercant.phone }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.commercant.user">User</span></dt>
                <dd>
                    {{ commercant.userLogin }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commercant', commercant.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
